* {
    color: #fff;
}

body, html {
    background-color: #e50040;
}

p.black {
    color: #e50040;
    font-weight: bold;
    background: #fff;
    padding: 3px 5px;
    margin-top: 5px;
    display: inline-block;
}

.none {
    display: none;
}

img {
    max-width: 100%;
}

img.card {
    max-height: 60vh;
    width: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}

.played {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}

.jumbotron {
    background-color: #e50040;
    color: #fff;
    border-radius: 0px !important;
    padding: 20px 0px !important;
}

.image {
    padding-top:30px;
}

.container {
    background-color: #e50040;
    padding-bottom: 80px;
    padding-left:0;
    padding-right: 0;
}

.col-sm-3 img {
    margin-top:10px;
}

h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    padding-top: 0px;
}

h6 {
    border-top: 1px #fff dotted;
    padding-top:10px;
}

.reshuffle {
    margin-top: 30px;

}

/* Event */

section {
    display: none;
}

.block {
    display: block;
}

@media all and (max-width:550px){
    .jumbotron {
        display: none;
    }
    
    img.card {
        border-radius: 10px;
    }
}